@font-face { font-family: 'Special Elite', cursive;
    src:url(p1/font/SpecialElite-Regular.ttf); } 
    *{
        box-sizing: border-box;
        margin: 0;
    }
    html, body{
        padding: 0;
        margin: 0;
        background: #696a6b;
        font-family: 'Special Elite', cursive;
    }
    /* SCROLLBAR START */
    ::-webkit-scrollbar {
        width: 10px;
        background: #475a6b;
        border-radius: 10px;
    }
    ::-webkit-scrollbar-track {
        background: #475a6b;
        box-shadow: inset 10px 10px 50px #696a6b; 
        border-radius: 10px;
    }
    ::-webkit-scrollbar-track:hover {
        box-shadow: inset 10px 10px 50px #475a6b; 
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb {
        background: #475a6b; 
        border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #696a6b; 
    }
    ::-webkit-scrollbar-button{
        width: 10px;
        height: 20px;
        box-shadow: inset 10px 10px 50px #475a6b;
        border-radius: 10px;
        border: 2px solid #696a6b;
    }
    /* SCROLLBAR END */
    /* HEADER START */
    header{
        width: 100%;
        position: sticky;
        top: 0px;
        z-index: 10;
    }
    .nav{
        width: 100%;
        height: 100px;
        background: #475a6b;
        display: flex;
        flex: wrap;
        justify-content: space-around;
        align-items: center;
    }
    /* kaydırdıktan sonra menünün şeffaf olması gerekiyor. */
    .logo{
        width: 20%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .logo img{
        border-radius: 50%;
        width: 75px;
        height: 75px;
        object-fit: cover;
        box-shadow: 0px 0px 10px #a2caee;
    }
    .menu{
        margin: auto;
        width: 60%;
        height: fit-content;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .menu a{
        width: 15%;
        position: relative;
        text-align: center;
        text-decoration: none;
        color: #b9bbbd;
        font-size: 24px;
        letter-spacing: .5px;
        text-shadow: 0px 0px 5px #a2caee;
    }
    .menu a:hover{
        color: #a2caee;
    }
    .menu a::before, .menu a::after{
        content: "";
        position: absolute;
        height: 3px;
        width: 0;
        background: #a2caee;
        transition: .5s;
    }
    .menu a::after{
        border-radius: 50%;
        left: 0;
        bottom: -10px;
    }
    .menu a::before{
        border-radius: 50%;
        right: 0;
        top: -10px;
    }
    .menu a:hover:after, .menu a:hover:before{
        width: 100%;
    }
    /* HEADER END */
    
    /* FOOTER START */
    footer{
        margin: auto;
        width: 100%;
        height: 300px;
        background: #475a6b;
        display: flex;
        flex: wrap;
        flex-direction: column;
        justify-content: space-around;
    }
    .foottop{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footmid{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footbottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .fbotleft{
        margin: auto;
        width: 20%;
    }
    .coffee{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        width: 200px;
        height: 50px;
        margin: 8px;
        background-color: #696a6b;
        border-radius: 30px;
        box-shadow: 0px 0px 5px #a2caee;
        text-decoration: none;
        transition: all 0.3s ease;
    }
    .coffee i, span{
        margin: auto;
        text-align: center;
        text-decoration: none;
        text-shadow: 0px 0px 5px #a2caee;
        font-size: 20px;
        color: #a2caee;
        z-index: 1;  
        transition: all 0.3s ease;
    }
    .coffee::after{
        content: "";
        width: 200px;
        height: 50px;
        position: absolute;
        transform: translate(0, 200px);
        border-radius: 30px;
        transition: all 0.3s ease;
    }
    .coffee::after{
        background-color: #ffdd00;
    }
    .coffee:hover {
        transform: translateY(-4px);
        box-shadow: 0px 0px 10px #a2caee;
    }
    .coffee:hover:after {
        transform: translate(0) scale(1.2);
    }
    .fbotcen{
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .wrapper, .foot-social-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
    }
    .social-icon {
        display: flex;
        position: relative;
        overflow: hidden;
        width: 64px;
        height: 64px;
        margin: 8px;
        background-color: #696a6b;
        border-radius: 50%;
        box-shadow: 0px 0px 5px #a2caee;
        text-decoration: none;
        transition: all 0.3s ease;
    }
    .social-icon i {
        margin: auto;
        font-size: 24px;
        text-shadow: 0px 0px 5px #a2caee;
        color: #b9bbbd;
        z-index: 1;  
        transition: all 0.3s ease;
    }
    .social-icon:after {
        content: "";
        width: 64px;
        height: 64px;
        position: absolute;
        transform: translate(0, 64px);
        border-radius: 50%;
        transition: all 0.3s ease;
    }
    .social-icon.twitter:after {
        background-color: #1da1f2;
    }
    .social-icon.github:after {
        background-color: #24292e;
    }
    .social-icon.instagram:after {
        background-image: linear-gradient(
            to bottom left,
            #4f5bd5,
            #962fbf,
            #d62976,
            #fa7e1e,
            #feda75
            );
        }
    .social-icon.linkedin:after {
        background-color: #0a66c2;
    }
    .social-icon:hover {
        transform: translateY(-4px);
        box-shadow: 0px 0px 10px #a2caee;
    }
    .social-icon:hover i {
        color: #fff;
    }
    .social-icon:hover:after {
        transform: translate(0) scale(1.2);
    }
    .fbotright{
        margin: auto;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #coffee{
        margin: 8px;
        width: 200px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        background-color: #696a6b;
        text-decoration: none;
        color: #a2caee;
        text-shadow: 0px 0px 5px #a2caee;
        font-size: 20px;
        border-radius: 30px;
        box-shadow: 0px 0px 5px #a2caee;
        transition: all 0.3s ease;
    }
    #coffee:hover{
        transform: translateY(-4px);
        box-shadow: 0px 0px 10px #a2caee;
    }
    /* FOOTER END */
    
    /* MAİN START */
    main{
        padding: 0px 70px 0px 0px;
        width: 100%;
        height: fit-content;
    }
    p{
        text-align: justify ;
    }
    #h1{
        padding: 40px 0px;
        font-size: 24px;
        color: #b9bbbd;
        text-align: center;
        text-shadow: 0px 5px 20px #a2caee;
    }
    
    /* SİDEBAR START */
    .sidebar{
        height: 100%;
        opacity: .3;
        position: fixed;
        left: 0;
        top: 30%;
        z-index: 10;
    }
    .sidebar:hover{
        opacity: 1;
    }
    /* SİDEBAR END */
    
    /* ABOUT ME START */
    .about{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .aboutl{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        gap: 30px;
    }
    .aboutl h2{
        font-size: 30px;
        color: #b9bbbd;
    }
    .aboutl p{
        font-size: 20px;
        padding-left: 30px;
        color: #b9bbbd;
    }
    .aboutr{
        padding-left: 100px;
        width: 40%;
    }
    .aboutr .r-con{
        width: 320px;
        height: 320px;
        margin: 48px;
        border-radius: 20px;
        position: relative;
    }
    .aboutr .r-con:hover .pp{
        transform: translate(-30px, -30px);
    }
    .aboutr .r-con:hover .content{
        box-shadow: 0px 10px 20px #a2caee;
        background: #475a6b;
        transform: translate(30px, 50px);
    }
    .pp{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        transition: all 0.5s ease-in-out;
    }
    .pp img{
        width: 320px;
        height: 320px;
        box-shadow: 0px 10px 20px #a2caee;
        border: 2px solid #e6e8eb;
        border-radius: 20px;
        object-fit: cover;
        resize: both;
    }
    .content{
        width: 100%;
        height: 100%;
        border: 2px solid #e6e8eb;
        border-radius: 20px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        transition: all 0.5s ease-in-out;
    }
    .content h2{
        padding-top: 150px;
        width: 320px;
        height: 320px;
        color: #b9bbbd;
        text-align: center;
        text-shadow: 0px 5px 10px #696a6b;
        position: relative;
        top: 100px;
    }
    .content h2:hover{
        color: #a2caee;
    }
    .content span{
        padding-top: 150px;
        width: 320px;
        height: 320px;
        color: #b9bbbd;
        text-align: center;
        text-shadow: 0px 5px 10px #696a6b;
        position: relative;
    }
    .content span:hover{
        color: #a2caee;
    }
    /* ABOUT ME END */
    /* MY SKİLLS START */
    .skills{
        padding-top: 40px;
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .skillsl{
        padding-left: 30px;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        position: relative;
        bottom: 50px;
        gap: 50px;
    }
    .skillsl p{
        font-size: 20px;
        color: #b9bbbd;
    }
    .skillsr{
        width: 40%;
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
    }
    .chart{
        padding: 16px 32px;
        margin-bottom: 24px;
        margin-right: 24px;
        font-size: 24px;
        background: #475a6b;
        border: 2px solid #e6e8eb;
        border-radius: 10px;
        font-weight: 500;
        color: #b9bbbd;
        cursor: pointer;
        opacity: .7;
    }
    .chart:hover{
        color: #a2caee;
        opacity: 1;
        text-shadow: 0px 5px 10px #696a6b;
        box-shadow: 0px 5px 20px #a2caee;
        animation: skill .2s infinite;
    }
    @keyframes skill {
        0%{}
        25%{
            transform: translate(2px, 4px);
        }
        50%{
            transform: translate(-4px, -2px);
        }
        75%{
            transform: translate(2px, -4px);
        }
        100%{
            transform: translate(-4px, 2px);
        }
    }
    /* MY SKİLLS END */
    /* PROJECTS START */
    .project{
        width: 100%;
        height: fit-content;
        display: block;
        justify-content: center;
        align-items: center;
    }
    #project{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }
    div.gallery{
        margin: 30px;
        border: 1px solid #e6e8eb;
        width: 250px;
        height: fit-content;
        background: #475a6b;
        opacity: .5;
    }
    div.gallery:hover{
        border: 1px solid #e6e8eb;
        text-shadow: 0px 5px 30px #b9bbbd;
        box-shadow: 0px 5px 20px #a2caee;
        opacity: 1;
        transform: scale(1.2)
    }
    div.gallery img{
        width: 100%;
        height: auto;
    }
    div.desc{
        padding: 15px;
        text-align: center;
        color: #b9bbbd;
    }
    div.desc:hover{
        color: #a2caee;
    }
    /* PROJECTS END */
    /* CONTACT START */
    .contact{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .contactl{
        padding-top: 40px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        bottom: 50px;
        gap: 50px;
    }
    .contactl p{
        padding-left: 30px;
        font-size: 20px;
        color: #b9bbbd;
    }
    .contactl a{
        text-decoration: none;
        color: #b9bbbd;
    }
    .contactr{
        padding-bottom: 50px;
        padding-right: 40px;
    }
    .contactr form{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        
    }
    #name,#email,#subject{
        border: none;
        border-radius: 10px;
        box-shadow: 0px 5px 20px #a2caee;
        margin-bottom: 20px;
        width: 100%;
        height: 40px;
        background: #475a6b;
        color: #a2caee;
    }
    #textarea{
        border: none;
        border-radius: 10px;
        box-shadow: 0px 5px 20px #a2caee;
        margin-bottom: 20px;
        background: #475a6b;
        color: #a2caee;
        resize: vertical;
    }
    ::placeholder{
        color: #a2caee;
    }
    #submit{
        border: none;
        border-radius: 20px;
        box-shadow: 0px 5px 20px #a2caee;
        width: 30%;
        height: 40px;
        background-color: #475a6b;
        color: #a2caee;
        cursor: pointer;
    }
    #submit:hover{
        color: #b9bbbd;
    }
    /* CONTACT END */
    
    /* MAİN END */

    /* RESPONSİVE START */
    @media only screen and (max-width: 480px) {
        .menu a{
            font-size: 9.6px;
        }
        .aboutr{
            padding: 30px;
            display: block;
        }
        footer{
            height: 150px;
        }
    }
    @media screen and (min-width: 499px) and (max-width: 700px) {
        .menu a{
            font-size: 10px;
        }
    }
    @media only screen and (max-width: 600px) {
        .social-icon{
            width: 32px;
            height: 32px;
        }
        .social-icon i{
            font-size: 16px;
        }
        .coffee{
            width: 100px;
            height: 25px;
        }
        .coffee i, span{
            font-size: 10px;
        }
        #coffee{
            width: 100px;
            height: 25px;
            font-size: 12px;
        }
        footer{
            height: 225px;
        }
    }
    @media screen and (min-width: 700px) and (max-width: 771px) {
        .menu a{
            font-size: 12px;
        }
    }
    @media only screen and (max-width: 768px) {
        .about{
            display: flex;
            flex-direction: column-reverse;
        }
        .aboutl{
            width: 100%;
        }
        .aboutr{
            padding-left: 20px;
            padding-bottom: 40px;
            display: block;
        }
        .skills{
            display: flex;
            flex-direction: column-reverse;
        }
        .skillsl{
            padding-top: 60px;
            width: 100%;
        }
        .skillsr{
            width: 100%;
        }
        .contact{
            display: flex;
            flex-direction: column;
        }
        .contactl{
            width: 100%;
        }
        #submit{
            position: relative;
            left: 140px;
        }
    }
    @media screen and (min-width: 771px) and (max-width: 864px) {
        .menu a{
            font-size: 14px;
        }
    }
    @media screen and (min-width: 864px) and (max-width: 952px) {
        .menu a{
            font-size: 16px;
        }
    }
    @media screen and (min-width: 952px) and (max-width: 1043px) {
        .menu a{
            font-size: 20px;
        }
    }
    @media only screen and (max-width: 1024px) {
        main{
            padding-left: 100px;
        }
        .aboutr{
            position: relative;
            right: 120px;
        }
        .contactr{
            position: relative;
            left: 50px;
        }
    }
    @media screen and (min-width: 1043px) and (max-width: 1134px) {
        .menu a{
            font-size: 22px;
        }
    }
    /* RESPONSİVE END */