@font-face { font-family: 'Special Elite', cursive;
    src:url(p1/font/SpecialElite-Regular.ttf); }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 657px;
    font-family: 'Special Elite', cursive;
    background: linear-gradient(to right top,#475A6B,#A2CAEE,#E6E8EB,#EBD3CE,#EE9B8A,#6B463E);
    background-size: auto;
}
main{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div{
    padding: 10px;
}
/* İNFO START */
.info{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.info img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 2px solid #551a8b;
    border-radius: 50%;
    box-shadow: 0px 5px 10px #551a8b;
    cursor: pointer;
}
.info img:hover{
    transform: translate(0px,4px);
}
.info h1{
    margin: auto;
    font-size: 56px;
    font-weight: 300;
    animation: xXx 5s linear infinite;
}
@keyframes xXx {
    0% {
        color: hsl(271.3, 68.5%, 32.4%);
        text-shadow:
            0 0 16px hsla(320, 100%, 50%, 0.5),
            0 0 2px hsla(320, 100%, 60%, 0.5),
            -4px -2px 2px hsla(40, 100%, 60%, 0.2),
            4px 2px 2px hsla(200, 100%, 60%, 0.4);
    }
    
    20% { 
        color: hsl(271.3, 68.5%, 32.4%);
        text-shadow:
            0 0 16px hsla(320, 100%, 50%, 0.5),
            0 0 2px hsla(320, 100%, 60%, 0.5),
            -4px -2px 2px hsla(40, 100%, 60%, 0.2),
            4px 2px 2px hsla(200, 100%, 60%, 0.4);
    }

    40% { 
        color: hsl(271.3, 68.5%, 32.4%);
        text-shadow:
            0 0 16px hsla(320, 100%, 50%, 0.5),
            0 0 2px hsla(320, 100%, 60%, 0.5),
            -4px -2px 2px hsla(40, 100%, 60%, 0.2),
            4px 2px 2px hsla(200, 100%, 60%, 0.4);
    }
    
    60% { 
        color: hsl(271.3, 68.5%, 32.4%);
        text-shadow:
            0 0 16px hsla(320, 100%, 50%, 0.5),
            0 0 2px hsla(320, 100%, 60%, 0.5),
            -4px -2px 2px hsla(40, 100%, 60%, 0.2),
            4px 2px 2px hsla(200, 100%, 60%, 0.4);
    }
    
    80% {
        color: hsl(271.3, 68.5%, 32.4%);
        text-shadow:
            0 0 16px hsla(320, 100%, 50%, 0.5),
            0 0 2px hsla(320, 100%, 60%, 0.5),
            -4px -2px 2px hsla(40, 100%, 60%, 0.2),
            4px 2px 2px hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
        color: hsl(271.3, 68.5%, 32.4%);
        text-shadow:
            0 0 16px hsla(320, 100%, 50%, 0.5),
            0 0 2px hsla(320, 100%, 60%, 0.5),
            -4px -2px 2px hsla(40, 100%, 60%, 0.2),
            4px 2px 2px hsla(200, 100%, 60%, 0.4);
    }
}
.info p{
    margin: auto;
    font-size: 28px;
    font-weight: 100;
    animation: ZzZ 5s linear infinite alternate-reverse;
}
@keyframes ZzZ {
    0% {
        color: #6B463E;
        text-shadow:
            0 0 16px hsla(271.3, 68.5%, 32.4%, 0.2),
            0 0 2px hsla(271.3, 68.5%, 32.4%, 0.4),
            4px 2px 2px hsla(271.3, 68.5%, 32.4%, 0.6),
            4px 2px 20px hsla(271.3, 68.5%, 32.4%, 0.8);
    }
    
    20% { 
        color: #EE9B8A;
        text-shadow:
            0 0 16px hsla(271.3, 68.5%, 32.4%, 0.2),
            0 0 2px hsla(271.3, 68.5%, 32.4%, 0.4),
            4px 2px 2px hsla(271.3, 68.5%, 32.4%, 0.6),
            4px 2px 20px hsla(271.3, 68.5%, 32.4%, 0.8);
    }

    40% { 
        color: #bca9a5;
        text-shadow:
            0 0 16px hsla(271.3, 68.5%, 32.4%, 0.2),
            0 0 2px hsla(271.3, 68.5%, 32.4%, 0.4),
            4px 2px 2px hsla(271.3, 68.5%, 32.4%, 0.6),
            4px 2px 20px hsla(271.3, 68.5%, 32.4%, 0.8);
    }
    
    60% { 
        color: #e6e8eb;
        text-shadow:
            0 0 16px hsla(271.3, 68.5%, 32.4%, 0.2),
            0 0 2px hsla(271.3, 68.5%, 32.4%, 0.4),
            4px 2px 2px hsla(271.3, 68.5%, 32.4%, 0.6),
            4px 2px 20px hsla(271.3, 68.5%, 32.4%, 0.8);
    }
    
    80% {
        color: #a2caee;
        text-shadow:
            0 0 16px hsla(271.3, 68.5%, 32.4%, 0.2),
            0 0 2px hsla(271.3, 68.5%, 32.4%, 0.4),
            4px 2px 2px hsla(271.3, 68.5%, 32.4%, 0.6),
            4px 2px 20px hsla(271.3, 68.5%, 32.4%, 0.8);
    }
    
    100% {
        color: #475A6B;
        text-shadow:
            0 0 16px hsla(271.3, 68.5%, 32.4%, 0.2),
            0 0 2px hsla(271.3, 68.5%, 32.4%, 0.4),
            4px 2px 2px hsla(271.3, 68.5%, 32.4%, 0.6),
            4px 2px 20px hsla(271.3, 68.5%, 32.4%, 0.8);
    }
}
/* İNFO END */
/* BUTTON START */
.dark-light{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.dark-light .dark{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dark button{
    width: 200px;
    height: 80px;
    background: linear-gradient(to right top,#E6E8EB,#A2CAEE,#475A6B);
    border-radius: 50px;
    border: 2px solid #e6e8eb;
    box-shadow: 0px 0px 20px #a2caee;
}
.dark button:hover{
    transform: translate(0px, 4px);
    cursor: pointer;
}
.dark-light .light{
    display: flex;
    justify-content: center;
    align-items: center;
}
.light button{
    width: 200px;
    height: 80px;
    background: linear-gradient(to right top,#6B463E,#EE9B8A,#EBD3CE);
    border-radius: 50px;
    border: 2px solid #bca9a5;
    box-shadow: 0px 0px 20px #ebd3ce;
}
.light button:hover{
    transform: translate(0px, 4px);
    cursor: pointer;
}
/* BUTTON END */
/* İCON START */
.social{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icon {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 64px;
    height: 64px;
    margin: 8px;
    background: linear-gradient(to right top,#475A6B,#A2CAEE,#E6E8EB,#EBD3CE,#EE9B8A,#6B463E);
    border-radius: 50%;
    box-shadow: 0px 0px 5px #A2CAEE;
    text-decoration: none;
    transition: all 0.3s ease;
}
.social-icon i {
    margin: auto;
    font-size: 24px;
    text-shadow: 0px 0px 5px #EBD3CE;
    color: #475A6B,#A2CAEE,#E6E8EB,#EBD3CE,#EE9B8A,#6B463E;
    z-index: 1;  
    transition: all 0.3s ease;
}
.social-icon:after {
    content: "";
    width: 64px;
    height: 64px;
    position: absolute;
    transform: translate(0, -64px);
    border-radius: 50%;
    transition: all 0.3s ease;
}
.social-icon.twitter:after {
    background-color: #1da1f2;
}
.social-icon.github:after {
    background-color: #24292e;
}
.social-icon.instagram:after {
    background-image: linear-gradient(
        to bottom left,
        #4f5bd5,
        #962fbf,
        #d62976,
        #fa7e1e,
        #feda75
        );
    }
.social-icon.linkedin:after {
    background-color: #0a66c2;
}
.social-icon:hover {
    transform: translateY(4px);
    box-shadow: 0px 0px 10px #a2caee;
}
.social-icon:hover i {
    color: #fff;
}
.social-icon:hover:after {
    transform: translate(0) scale(1.2);
}
/* İCON END */
/* RESPONSİVE START */
@media only screen and (max-width: 480px) {
    .info h1{
        font-size: 12px;
    }
    .info p{
        font-size: 10px;
    }
    .dark button{
        width: 100px;
        height: 40px;
    }
    .light button{
        width: 100px;
        height: 40px;
    }
    svg{
        width: 30px;
        height: 30px;
    }
}
@media only screen and (max-width: 600px) {
    .info h1{
        font-size: 21.2px;
    }
    .info p{
        font-size: 16px;
    }
}
@media only screen and (max-width: 768px) {
    .info h1{
        font-size: 27px;
    }
}
@media only screen and (max-width: 992px) {
    .info h1{
        font-size: 35.1px;
    }
    .info p{
        font-size: 24px;
    }
    .dark button{
        width: 150px;
        height: 60px;
    }
    .light button{
        width: 150px;
        height: 60px;
    }
    svg{
        width: 50px;
        height: 50px;
    }
}
@media only screen and (max-width: 1024px) {
    .info h1{
        font-size: 45.9px;
    }
}
@media only screen and (max-width: 1201px) {
    .info h1{
        font-size: 47.4px;
    }
}
/* RESPONSİVE END */